__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.venv/
env/
venv/
ENV/
.venv.bak/
.vscode/
.env
*.env
instance/
*.db
*.sqlite3
*.log
*.pot
*.mo
.pytest_cache/
.DS_Store
Thumbs.db
migrations/
node_modules/
.ipynb_checkpoints/
.mypy_cache/
.pylint.d/
